{{ if .Site.Params.fav }}

	<link rel="shortcut icon" href="{{ .Site.Params.fav | relURL }}">
	<link rel="apple-touch-icon" sizes="180x180" href="{{ .Site.Params.favApple | relURL }}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ .Site.Params.fav32 | relURL }}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ .Site.Params.fav16 | relURL }}">
	<link rel="manifest" href="{{ .Site.Params.favManifest | relURL }}">
	<link rel="mask-icon" href="{{ .Site.Params.favSafari | relURL }}" color="{{ .Site.Params.favSafariColor }}">
	<meta name="msapplication-TileColor" content="{{ .Site.Params.favTileColor }}">
	<meta name="theme-color" content="{{ .Site.Params.favThemeColor }}">

{{ end }}